html, body {
    margin: 0;
    padding: 0;
    border: none;
    min-height: 100%;
}
body{
    font-family: sans;
   background-color: #444; 
   background-image: url(images/bkg.png);
   background-repeat: no-repeat;
   background-position: top center;
   
}
#header{
    background-color: #333;
    border-bottom: 1px solid #000;    
    padding: 10px;
    box-shadow: 0 2px 10px #222;
    -webkit-box-shadow: 0 2px 10px #222;
    -moz-box-shadow: 0 2px 10px #222;
    -o-box-shadow: 0 2px 10px #222;
    background-image: linear-gradient(bottom, rgb(51,51,51) 0%, rgb(64,64,64) 100%);
    background-image: -o-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(64,64,64) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(64,64,64) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(64,64,64) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(64,64,64) 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(51,51,51)),color-stop(1, rgb(64,64,64)));
    text-shadow: -1px -1px 1px #111;
    -webkit-text-shadow: -1px -1px 1px #111;
    -moz-text-shadow: -1px -1px 1px #111;
    -o-text-shadow: -1px -1px 1px #111;
}
h1{
    color: #aaa;
    font-weight: normal;
    font-size: 14px;
    margin: 0 auto;
    max-width: 960px;
}
a{    
    text-decoration: none;
    outline: none;
    color: #eee;
}
.tooltip{
    position: relative;
    border-bottom: 1px dotted #aaa;
    cursor: help;
}
.tooltip-text{
    font-size: 90%;
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 5px #222;
    top: 0;
    left: 100%;
    min-width: 100px;
    white-space: pre;
    text-align: center;
    line-height: 120%;
    z-index: 9000;
}
.tooltip img{
    margin-top :5px;
}
.tooltip:hover .tooltip-text{
    display: block;
}
button{
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #222;
    background-color: #595959;
    color: #000;
    box-shadow: inset 1px 1px 1px #888, 0 0 5px #333;    
    -webkit-box-shadow: inset 1px 1px 1px #888, 0 0 5px #333;
    -moz-box-shadow: inset 1px 1px 1px #888, 0 0 5px #333;
    -o-box-shadow: inset 1px 1px 1px #888, 0 0 5px #333;
    background-image: linear-gradient(bottom, rgb(89,89,89) 0%, rgb(107,107,107) 100%);
    background-image: -o-linear-gradient(bottom, rgb(89,89,89) 0%, rgb(107,107,107) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(89,89,89) 0%, rgb(107,107,107) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(89,89,89) 0%, rgb(107,107,107) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(89,89,89) 0%, rgb(107,107,107) 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(89,89,89)),color-stop(1, rgb(107,107,107)));
    z-index:0;
    
}
button:focus,
button:hover{
   color:#f8f8f8; 
}
button:active{
    top: 1px;
}
a:focus,
a:hover{
    text-decoration: underline;
    color:#eee;
}
h1 a{
    color: #aaa;
}
#container{
    min-width: 160px;
    padding: 10px;
    max-width: 500px;
    min-height: 55px;
    margin: 40px auto;
    font-size: 90%;
    color: #ddd;
    text-shadow: 1px 1px 1px #222;
    -webkit-text-shadow: 1px 1px 1px #222;
    -moz-text-shadow: 1px 1px 1px #222;
    -o-text-shadow: 1px 1px 1px #222;
}
.intro p{
    text-align: center;
    margin-bottom: 20px;
}
#container p{
    margin-top: 0;
}
#container.waiting{
    background: url(ajax-loader.gif) center no-repeat; /*http://ajaxload.info*/
}
#container.failed{    
    max-width: 380px;
    padding-right: 130px;
    min-height: 120px;
    background: url(images/monsieur/stop.png) no-repeat right center;
}
#container.success{    
    max-width: 380px;
    padding-left: 130px;
    min-height: 120px;
    background: url(images/monsieur/palette.png) no-repeat left center;
}
#container.allowed{    
    max-width: 380px;
    padding-right: 130px;
    min-height: 120px;
    background: url(images/monsieur/reader.png) no-repeat right center;
}
#container.failed p{
    color:#f00;
    font-weight: bold;
    text-align: center;
    font-size: 110%;
}
#container.success p{
    color:#0f0;
    text-align: center;
    font-size: 105%;
}
#container.allowed p{
    color:#cf5;
    text-align: center;
}
#container p small{
    margin-top: 10px;
    display: block;
    opacity: 0.7;
}
.start-wrapper{
    text-align: center;
}
.start-wrapper button{
    font-weight: bold;
    color: #ccc;
    text-shadow: -1px -1px 2px #222;
    -webkit-text-shadow: -1px -1px 2px #222;
    -moz-text-shadow: -1px -1px 2px #222;
    -otext-shadow: -1px -1px 2px #222;
    font-size: 120%;
    padding: 10px 15px;
}
.start-wrapper button:hover,
.start-wrapper button:focus{
    color:#f8f8f8;
}
#footer{
    color:#666;
    min-width: 160px;
    padding: 10px;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    text-shadow: -1px -1px 1px #333;
    -webkit-text-shadow: -1px -1px 1px #333;
    -moz-text-shadow: -1px -1px 1px #333;
    -o-text-shadow: -1px -1px 1px #333;
}
#footer a{    
    color:#666;
}
.controls{
    margin-top: 30px;
    text-align: center;
}
.controls button{
    margin: 0 15px;
}
button.yep,
button.nope{    
    text-shadow: -1px -1px 0 #333;
    -webkit-text-shadow: -1px -1px 0 #333;
    -moz-text-shadow: -1px -1px 0 #333;
    -o-text-shadow: -1px -1px 0 #333;
}
button.yep{
    font-weight: bold;
    color: #44cc44;
}
button.yep:focus,
button.yep:hover{
    color: #44ff44;
}
button.nope{
    font-weight: bold;
    color: #dd4444;
}
button.nope:focus,
button.nope:hover{
    color: #ff4444;
}
@media all and (max-width: 400px) {
    #container{
        margin: 10px auto;
        padding: 5px 10px;
    }  
    #container.success,
    #container.failed,
    #container.allowed{
        padding: 5px 10px 130px 10px;
        background-position: bottom center;
    }
    button{
        padding: 15px;        
    }
    .controls button{
        margin: 0 10px;
    }
    .start-wrapper button{
        padding: 20px 25px;
    }
}
